{% extends 'main.html' %}
{% load static %}

<title>{% block title %}Subjects | My Pace Learn{% endblock title %}</title>
{% block extracss %}
<link rel="stylesheet" href="{% static 'core/css/subjects.css' %}">
{% endblock extracss %}


{% block content %}


<!-- Subjects Section -->
<section class="subjects-section">
    <div class="subjects-container">

        <!-- Page Header -->
        <div class="page-header">
            <h1><i class="fas fa-book-open"></i> Select a Subject</h1>
            <p>Choose a subject to start learning and testing your knowledge</p>
        </div>

        <!-- Subjects Grid -->
        <div class="subjects-grid">

            <!-- Computer Studies Card (Only subject) -->
            {% for subject in subjects %}
            <div class="subject-card">
                <div class="subject-icon">
                    <i class="{{ subject.icon }}"></i>
                </div>
                <div class="subject-info">
                    <h3>{{ subject.name }}</h3>
                    <p>{{ subject.description }}</p>
                    <div class="subject-stats">
                        <span><i class="fas fa-layer-group"></i> {{ subject.topic_count }} Topics</span>
                    </div>
                    <a href="{% url 'topics' subject_id=subject.id %}" class="btn-explore">
                        Explore Subject <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>


{% endblock content %}

{% block extrajs %}
<script src="{% static 'core/js/subjects.js' %}"></script>
{% endblock extrajs %}